.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


main{

}
#map {
  height: 100vh;
  overflow:visible;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  display:flex;
  flex-direction: column;
}

header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
  z-index: 1;
}


.sidenav{
  float:left;
  width: 15%;
  z-index: 1;
  height: 100vh;
  background-color: #666;
  color:black;
  
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 65px !important;
  line-height: 48px;
  padding: 0 32px;
}



.searchForm input{
  
  float:right;
  width: 85% !important;
  

}

/*For a11y reasons*/
a:focus{
 outline: 3px solid blueviolet;
}